@charset "UTF-8";

*{margin:0; padding:0;}

table {
    border-collapse: collapse;
    width : 100px;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    margin : 0 auto;
}


.form-container {
    width : 500px;
    margin : 0 auto;
    margin-top : 60px;
}

button[type="submit"] {
	margin : 0 auto;
	display: flex;
}

input[type="radio"] {
	display: inline-block;
	width: 100px;
 	margin: 3px;
 	justify-content: center;
}