@charset "UTF-8";

*{margin:0; padding:0;}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

.form-container {
	width : 500px;
	margin : 0 auto;
	margin-top : 40px;
}

.form-group input {
	width : 300px;
	box-sizing : boarder-box;
}

.form-group textarea {
	width : 500px;
	margin-top : 10px;
	min-height : 300px;
}

button[type="submit"] {
	margin : 0 auto;
	display: flex;
    justify-content: center;
}

input[type="radio"] {
	display: inline-block;
	text-align: center;
	width: 100px;
 	margin: 3px;
}