<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cocktail List</title>
	
	<link rel="stylesheet" th:href="@{/css/cocktail.css}">
</head>

<body>
	<!-- header -->
	<div th:include="~{/includes/header}"></div>
	
	<div class="form-container">
		<div>
			<table>
				<thead>
					<tr>
						<th>#</th>
						<th>  종류  </th>
						<th>   이름   </th>
						<th>   name   </th>
						<th>   칵테일 설명   </th>
						<th>   칵테일 레시피   </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cocktail : ${cocktail}">  <!-- "___ :  ${ }" : ${ } model 안에 있는 값 꺼내서 ___ 넣기 -->
						<td th:text="${cocktail.no}"></td>
						<td th:text="${cocktail.type}"></td>
						<td>
							<a th:text="${cocktail.name}" th:href="@{/cocktail/view(no= ${cocktail.no})}"></a>
						</td>
						<td th:text="${cocktail.engName}"></td>
						<td th:text="${cocktail.cocktailContents}"></td>
						<td th:text="${cocktail.recipeContents}"></td>
					</tr>
				</tbody>
			</table>
			<br><br>
			<a th:href="@{/}">메인으로</a>
		</div>
	</div> <!-- container -->
	
	<!-- footer -->
	<div th:include="~{/includes/footer}"></div>
</body>
</html>