<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
	*{margin:0; padding:0;}
    .container {
        width : 300px;
        margin : 0 auto;
        margin-top : 60px;
    }
    button[type="submit"] {
		margin : 0 auto;
		display: flex;
	    justify-content: center;
	}
	input[type="radio"] {
		display: inline-block;
	}
</style>

<body>
	<div class="container">
		<form action="/cocktail/form" method="post">
			<div class="form-group">
				<label for="type">종류   </label>
				<input type="radio" name="type" value="alcohol" checked="checked">알코올
				<input type="radio" name="type" value="non-alcohol">논알코올
				<br><br>
				
				<label for="name">이름 </label>
				<input type="text" id="name" name="name" placeholder="이름을 입력하세요">  <!-- 스프링이 MemberForm의 String name과 연결해줌 -->
				<br><br>
				
				<label for="engName">name </label>
				<input type="text" id="engName" name="engName" placeholder="Please enter your name">
				<br><br>
				
				<label for="cocktailContents">칵테일 설명 </label>
				<input type="text" id="cocktailContents" name="cocktailContents" placeholder="칵테일 설명">
				<br><br>
				
				<label for="recipeContents">칵테일 레시피 </label>
				<input type="text" id="recipeContents" name="recipeContents" placeholder="칵테일 레시피">
				<br><br>
			</div>
			<br><br>
			<button type="submit">등록</button>
		</form>
		
	</div> <!-- /container -->
</body>
</html>