<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>header</title>
</head>

<style>
	*{margin:0; padding:0;}
	
	.container {
		width : 800px;
		margin : 0 auto;
		margin-top : 40px;
	}
	
	button[type="button"] {
		margin : 30 auto;
		display: inline-block;
		position: relative;
	}
</style>

<body>
	<div class="container">
    <header class="main-header">
        <div class="main-header-btn">
            <button type="button" onclick="location.href='/login/login'" >Login</button>
            <button type="button" onclick="location.href='/member/insert'">Sign-up</button>
            <button type="button" onclick="location.href='/member/insert'">My Page</button>
        </div>
    </header>
</div>
</body>
</html>