<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Signature Form</title>
	
	<link rel="stylesheet" th:href="@{/css/signature.css}">
</head>

<body>
	<!-- header -->
	<div th:include="~{/includes/header}"></div>
	
	<div class="form-container">
		<form action="/signature/form" method="post">
			<div class="form-group">
				<label for="nickname">닉네임 </label>
				<input type="text" id="nickname" name="nickname" placeholder="닉네임을 입력하세요">
				<br><br>
				
				<label for="cocktailName">칵테일 이름 </label>
				<input type="text" id="cocktailName" name="cocktailName" placeholder="칵테일 이름을 입력하세요">
				<br><br>

				<label for="cocktailContents">칵테일 설명 </label>
				<textarea id="cocktailContents" name="cocktailContents" placeholder="칵테일 설명"></textarea>
				<br><br>
				
				<label for="recipeContents">칵테일 레시피 </label>
				<textarea id="recipeContents" name="recipeContents" placeholder="칵테일 레시피"></textarea>
				<br><br>
				
				<label for="type">종류 </label>
				<input type="radio" name="type" value="alcohol" checked="checked">알코올
				<input type="radio" name="type" value="nonalcohol">논알코올
				<br><br>
				
				<input type="hidden" id="hit" name="hit" value="0">
				<input type="hidden" id="like" name="like" value="0">
			</div>
			<br><br>
			
			<button type="submit">등록</button>
		</form>
	</div> <!-- /container -->
	
	<!-- footer -->
	<div th:include="~{/includes/footer}"></div>
</body>
</html>