<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Signature ModifyForm</title>
	
	<link rel="stylesheet" th:href="@{/css/signature.css}">
</head>

<body>
	<!-- header -->
	<div th:include="~{/includes/header}"></div>
	
	<div class="form-container">
		<form th:action="@{/signature/modify/{no}(no = ${signature.no})}" method="post" enctype="multipart/form-data">
			<div class="form-group">
				
				<label for="cocktailName">칵테일 이름 </label>
				<input type="text" id="cocktailName" name="cocktailName" th:value="${signature.cocktailName}">
				<br><br>
				
				<input type="hidden" id="regDate" name="regDate" th:value="${signature.createdDate}" readonly>
				<input type="hidden" id="modDate" name="modDate" th:value="${signature.modifiedDate}" readonly>
				
				<label for="cocktailContents">칵테일 설명 </label>
				<textarea id="cocktailContents" name="cocktailContents" th:text="${signature.cocktailContents}"></textarea>
				<br><br>
				
				<label for="recipeContents">칵테일 레시피 </label>
				<textarea id="recipeContents" name="recipeContents" th:text="${signature.recipeContents}"></textarea>
				<br><br>
				
				<label for="type">종류 </label>
				<input type="radio" name="type" value="alcohol" checked="checked">알코올
				<input type="radio" name="type" value="nonalcohol">논알코올
				<br><br>
				
				<input type="hidden" id="hit" name="hit" th:value="${signature.hit}">
				
				<label for="files">파일선택 </label>
				<input multiple="multiple" type="file" name="files" >
				<br><br>

			</div>
			<br><br>
			
			<button type="submit">수정</button>
		</form>
	</div> <!-- /container -->
	
	<!-- footer -->
	<div th:include="~{/includes/footer}"></div>
</body>
</html>