<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
	*{margin:0; padding:0;}
	
	.container {
		width : 500px;
		margin : 0 auto;
		margin-top : 40px;
	}
	
	.form-group input {
		width : 300px;
		box-sizing : boarder-box;
	}
	
	.form-group textarea {
		width : 500px;
		margin-top : 10px;
		min-height : 300px;
	}
	
	button[type="submit"] {
		margin : 0 auto;
		display: flex;
	    justify-content: center;
	}
	
	input[type="radio"] {
		display: inline-block;
		text-align: center;
		width: 100px;
  		margin: 3px;
	}
	
</style>


<body>
	<div class="container">
		<form action="@{/signature/modify/{no}(no = ${signature.no})}" method="post">
			<div class="form-group">
				<label for="nickname">닉네임 </label>
				<input type="text" id="nickname" name="nickname" th:value="${signature.nickname}" readonly>  <!-- 스프링이 MemberForm의 String name과 연결해줌 -->
				<br><br>
				
				<label for="cocktailName">칵테일 이름 </label>
				<input type="text" id="cocktailName" name="cocktailName" th:value="${signature.cocktailName}">
				<br><br>
				
				<input type="hidden" id="reg_date" name="regDate" th:value="${signature.regDate}" readonly>

				<label for="cocktailContents">칵테일 설명 </label>
				<textarea type="content" id="cocktailContents" name="cocktailContents" th:text="${signature.cocktailContents}"></textarea>
				<br><br>
				
				<label for="recipeContents">칵테일 레시피 </label>
				<textarea type="content" id="recipeContents" name="recipeContents" th:text="${signature.recipeContents}"></textarea>
				<br><br>
				
				<label for="type">종류 </label>
				<input type="radio" name="type" value="alcohol" checked="checked">알코올
				<input type="radio" name="type" value="non-alcohol">논알코올
				<br><br>
			</div>
			<br><br>
			
			<button type="submit">수정</button>
		</form>
	</div> <!-- /container -->
</body>
</html>